.slick-dots li {
    width: 23%;
    @media (max-width: 1024px) {
        width: 22%;
    }
    @media (max-width: 600px) {
        width: 21%;
    }
}

.slick-dots li.slick-active .carousel-item {
    border: 2px solid #a75d5d;
    border-radius: 8px;
}
.slick-dots {
    bottom: -40px;
}
