.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 40px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 42px;
}

.ant-select-multiple .ant-select-selection-item {
    height: 32px;
    line-height: 32px;
}

.ant-select-selector {
    height: 40px;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 40px;
}
