.pagination__app {
    .ant-pagination .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination .ant-pagination-next .ant-pagination-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ant-pagination .ant-pagination-item a {
        color: #a75d5d;
    }
    .ant-pagination .ant-pagination-item-active {
        border: none;
        background: #a75d5d;
        color: #fff;
    }
    .ant-pagination .ant-pagination-item-active a {
        color: #fff;
    }
    .ant-pagination .ant-pagination-item {
        border: 1px solid #a75d5d;
        color: #a75d5d;
    }
    .ant-pagination-prev span svg,
    .ant-pagination-next span svg {
        color: #a75d5d;
    }
}
