@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #a75d5d;
}
body {
    font-family: 'Oswald', sans-serif;
    color: #222f3e;
}
.ant-select-dropdown,
.ant-select-selection-placeholder {
    font-family: 'Oswald', sans-serif;
}
* {
    font-family: 'Oswald', sans-serif !important;
}
/* Thiết lập kiểu dáng cho thanh scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 8px;
    background-color: #f5f5f5;
}

/* Thiết lập kiểu dáng cho nút điều khiển của scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
}

/* Thiết lập kiểu dáng cho nút điều khiển của scrollbar khi di chuột vào */
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/* Thiết lập kiểu dáng cho thanh track của scrollbar */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
