.ant-rate {
    font-size: 14px;
}

.characteristic li {
    position: relative;
    padding-left: 12px;
}
.characteristic li::before {
    content: '';
    position: absolute;
    border-radius: 20px;
    width: 5px;
    height: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5px;
    background: #979797;
}

.ribbin-genuien,
.ribbin-gift {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ribbin-genuien::before,
.ribbin-gift::before {
    position: absolute;
    content: 'Chính Hãng';
    color: white;
    width: 140%;
    height: 1.6rem;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    background: #e74c3c;
    line-height: 1.6rem;
    transform: rotate(-45deg) translateY(-1rem);
    z-index: 10;
}
.ribbin-gift::before {
    content: 'Quà Tặng';
}
.ribbin-genuien::after,
.ribbin-gift::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 4px;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #c0392b;
    box-shadow: 5rem -5rem #c0392b;
    z-index: 5;
}
